<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor Intercom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Example</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="displayLauncher()">Display Launcher</ion-button>
    <ion-button (click)="hideLauncher()">Hide Launcher</ion-button>
  </div>
</ion-content>
